*{
	box-sizing: border-box;
}
body{
	min-width:300px; 
}
.nav-bar{
	background:black;
	height:60px;  
	display:flex;  
}
.nav-brand{
	color:white;
	display:flex; 
	flex-direction:column; 
	justify-content:center;
	align-content:center;
	height:60px;   
	font-size:200%;
	font-style:italic; 
}
.sign-in{
	color:white;
	margin-left:auto;
	margin-right:30px; 
	margin-top:auto;
	margin-bottom:auto;  
 	background:orange; 
 	height:30px;
 	font-size:20px; 
 	border-radius:5px;
 	text-decoration:none; 
}
.sign-up{
	background:purple; 
}
.form-sign-up{
	text-align:center;
	margin-top:50px; 	
}
input{
	width:80%; 
	margin-top:10px; 
	font-size:20px;
	font-style:italic;   
}
.gender{
	text-align:center;
	color:white; 
	font-size:30px;
	margin-top:20px; 
	margin-bottom:0px;    
}
.selection{
	font-size:20px; 
	margin-top:10px; 
}
.sex{
	margin-top:0px;
	margin-right:auto; 
	background:red; 
	height:15px; 
	width:10%; 
}
select{
	display:flex; 
}
.DOB{
	display:flex;
	margin-top:20px; 
	height:30px; 
	width:80%; 
	margin-left:auto;
	margin-right:auto;        
}
.days{
	font-size:20px;
	width:30%;   
}
.months{
	font-size:20px; 
	width:40%; 
	margin-left:10px;
	margin-right:10px; 
}
.years{ 
	font-size:20px;
	width:30%;  
}
.submit{
	background:orange;
	margin:5vh; 
	color:white;
	height:30px;
	margin-left:auto; 
	margin-right:auto;
	display:block; 
	font-size:20px;   
}
.sign{
	color:white; 
	font-size:22px; 
	margin-top:30px; 
	text-align:center; 
}
@media screen and (min-width:760px){
	input{
		width:40%;
		margin-top:40px;  
		height:40px; 
		font-size:30px; 
	}
	.DOB{
		width:80%;
	}
	.form-sign-up{
		text-align:center;
		margin-top:50px; 
	}
	.gender{
		font-size:40px; 
	}
	.sex{
		height:20px; 
	}
	.selection{
		font-size:30px; 
	}
}